head 
  title Payal Computers
  style
    include ../home.css
.container
  nav#nav
    ul
      li
        a(href='/') Home
      li
        a(href='/products') products
      li
        a(href='/contacts') Contact us
      li
        a(href='/about') About
  .motives
footer#footer
  p
    | Copyright &copy; 
    a(href='/') PayalCompuetrs.com
    |  | All Rights are resereved
